.contenedor_productos{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.grilla_productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
}

.producto{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto > img{
    width: 80px;
    height: 80px;
}
