.contenedor_productos{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.grilla_productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
}

.producto{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto > img{
    width: 80px;
    height: 80px;
}

@media (min-width: 600px) {
    .contenedor_productos{
        height: 90dvh;
        justify-content: flex-start;
    }
    .grilla_productos{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
}